{js:my97date}
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="home-icon fa fa-home"></i>
			<a href="#">合作方平台</a>
		</li>
		<li>
			<a href="#">平台管理</a>
		</li>
		<li class="active">资金列表</li>
	</ul>
</div>
<div class="content">
	<table class="table list-table">
			<colgroup>
				<col width="35px" />
				<col width="190px" />
				<col width="100px" />
				<col width="100px" />
				<col width="100px" />
				<col width="200px" />
				<col width="60px" />
				<col width="60px" />
				<col width="110px" />
			</colgroup>
			<caption>
				<form name="searchuser" action="{url:/}" method="get" class="pull-right form-inline" style="margin:0">
					<input type='hidden' name='controller' value='partner' />
					<input type='hidden' name='action' value='account_log' />
					<input type='hidden' name='appid' value='' />
					
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						<input class="form-control" name="time_start"  type="text" value="{echo:IFilter::act(IReq::get('time_start'))}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="开始时间" />
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						<input class="form-control" name="time_end"  type="text" value="{echo:IFilter::act(IReq::get('time_end'))}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" placeholder="截止时间"  />
					</div>

					用户名：<input class="form-control" name="username" type="text" value="{echo:IFilter::act(IReq::get('username'))}"/>
					合作方：
					<select class="form-control" id='search' name="search">
						{set:$pa=Api::run('getAllPartnerList');$partner=$pa->find()}
            			{foreach:items=$partner}
						<option value="{$item['appid']}" {if:$item['appid'] == IFilter::act(IReq::get('appid'))}selected="true"{/if}>{$item['partner_name']}</option>
						{/foreach}
					</select>
					<button class="btn btn-default" type="submit">
							<i class="fa fa-search"></i>搜 索
					</button>
				</form>
			</caption>
		<thead>
			<tr>
				<th>用户名</th>
				<th>操作金额</th>
				<th>余额</th>
				<th>权益金类型</th>
				<th>合作方appid</th>
				<th>合作方名称</th>
				<th>新增时间</th>
				<th>备注</th>
			</tr>
		</thead>

		<tbody>
			{set:$resultData=$queryObj->find()}
            {foreach:items=$resultData}
			<tr>
				<td>{$item['username']}</td>
				<td>{$item['amount']}</td>
				<td>{$item['amount_log']}</td>
				<td>{$item['account_type']}</td>
				<td>{$item['appid']}</td>
				<td>{$item['partner_name']}</td>
				<td>{$item['time']}</td>
				<td>{$item['note']}</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
</div>
总充值：{$count['incr']}；总支出：{$count['decr']}；{$queryObj->getPageBar()}
<script language="javascript">
		//预加载
		$(function(){
			var formObj = new Form('searchuser');
			formObj.init({'search':'{$search}'});
			$('[name="appid"]').val($('#search').val())
			$('#search').change(function(){
				$('[name="appid"]').val($('#search').val())
			});


			// var searchData = {echo:JSON::encode(IReq::get('search'))};
			// for(var index in searchData)
			// {
			// 	$('[name="search['+index+']"]').val(searchData[index]);
			// }
		})
		
	</script>
