{js:zoom}
{js:bxSlider}
<script type="text/javascript" src="{webroot:public/javascript/products.js}"></script>

<div class="bigweb">
	<section class="breadcrumb">
		<span>您当前的位置：</span> <a href="{url:}">首页</a> »
		<a href='{url:/site/publist}'>权益金购买</a>
	</section>
	<section class="goods_base">
		<div class="qyj-img-detail qyj-a"></div>
		<section class="goods_info">
			<h1 class="goods_info_title">{$change['title']}</h1>
			<div style="clear: both;"></div>
			<!--基本信息区域-->
			<ul class="goods_ul qyj_good_ul">
				<li>
    			    <span class="bold">转让单价：</span>{echo:bcdiv($change['num']*$change['discount']/10,$change['num'],2)}元/权益金
				</li>
    			<li>
    			    <span class="bold">折扣：</span class="bold">{$change['discount']}折
				</li>
				<li>
    			    <span class="bold">库存：</span class="bold">{$change['num']}元
				</li>
    			<li>
					<span class="bold"> 已转让：</span class="bold">{$change['sale_num']}个
				</li>
				<li>
    			    <span class="bold">权益金等级：</span class="bold">{$change['account_type']}级
				</li>
				<li>
					<span class="bold">保障服务：</span class="bold"> 已托管交易，购买后立即到账
    			</li>
			
			</ul>
			<!--购买区域-->
			<div class="good_info_buy qyj_good_info_buy">
		
				<div class="qyj_cartcart_btn">
					<input type="text" class="qyj_de_money" placeholder="请输入购买权益金数量">
				</div>
				<div class="btn_submit_buy" >
					<a class='qyj_link' href="{url:/account/buysure&nid=$change['nid']}&num=10"><span style="left:35px!important;color:#fff">立即购买</span style="left:35px!important"></a>
				</div>

			</div>
		</section>
	</section>

	<section class="web">
		<section class="main" style='width:1170px'>
			<div class="goods_tab" name="showButton">
				<label class="current">购买指南</label>
			</div>
			<div class="goods_con" name="showBox">
				<!-- 商品详情 start -->
				<div>
					<ul class="goods_infos">
						<li>权益金编号：{$change['nid']}</li>

						<li>权益金等级：{$change['account_type']}级</li>
						
					</ul>
				</div>
				<!-- 商品详情 end -->
				<div class="qyj_pro_detal_con1">
					<div class="title">购买流程</div>
					<div><img src="{skin:image/pay_lc.png}" ></div>
				</div>

				<div class="qyj_pro_detal_con2">
					<div class="title">温馨提示</div>
					<div class="items">
						<div class="items-title">》 关于购买数量填写错误</div>
						<div class="items-con">请大家仔细核对购买数量，交易由系统托管自动充值，一旦付款成功无法撤销订单，若有错误，概不负责。</div>
					</div>
					<div class="items">
						<div class="items-title">》 购买到账时间</div>
						<div class="items-con">交易由系统自动托管，付款成功后立即到账，入几分钟内账户未查询到购买的权益金，请立即联系在线客服。</div>
					</div>
					<div class="items">
						<div class="items-title">》 购买的权益金还能再次交易吗？</div>
						<div class="items-con">购买的权益金不能二次交易，仅限于购物使用。</div>
					</div>
				</div>

			</div>
		</section>
	</section>
</div>
<script>
$(function(){
	
	$('.qyj_de_money').keyup(function(){
		var money = '',url = '',arr = [];
		money = $(this).val();
		url = $('.qyj_link').attr('href');
		arr = url.split('=')
		// console.info(arr)
		arr.splice([arr.length - 1],1,money)
		console.info()
		$('.qyj_link').attr('href',arr.join('='))
	})
	//初始化商品详情对象
	var productInstance = new productClass("{$id}","{$this->user['user_id']}","{$promo}","{$active_id}","{$type}");

	//初始化商品轮换图
	$('#goodsPhotoList').bxSlider({
		infiniteLoop:false,
		hideControlOnEnd:true,
		controls:true,
		pager:false,
		minSlides: 5,
		maxSlides: 5,
		slideWidth: 72,
		slideMargin: 15,
		onSliderLoad:function(currentIndex){
			//默认初始化显示第一张
			$('[thumbimg]:eq('+currentIndex+')').trigger('click');
			//放大镜
			$("#picShow").imagezoom();
		}
	});

	//城市地域选择按钮事件
	$('.sel_area').hover(
		function(){
			$('.area_box').show();
		},function(){
			$('.area_box').hide();
		}
	);

	$('.area_box').hover(
		function(){
			$('.area_box').show();
		},function(){
			$('.area_box').hide();
		}
	);

	//按钮绑定
	$('[name="showButton"]>label').click(function(){
		$(this).siblings().removeClass('current');
		$(this).addClass('current');

		$('[name="showBox"]>div').hide();
		$('[name="showBox"]>div:eq('+$(this).index()+')').show();

		switch($(this).index())
		{
			case 1:
			{
				productInstance.comment_ajax();
			}
			break;

			case 2:
			{
				productInstance.history_ajax();
			}
			break;

			case 3:
			{
				productInstance.refer_ajax();
			}
			break;

			case 4:
			{
				productInstance.discuss_ajax();
			}
			break;
		}
	});
});
</script>
