<div class="page" id="page-order">
    <header class="bar bar-nav pl-0 bg-red">
        <a class="fa fa-arrow-left pull-left c-white external" href="javascript:void(0);" onclick="window.history.back(-1)"></a>
        <h1 class="title c-white">权益金列表</h1>
        <a class="fa fa-user pull-right c-white external" href="{url:/ucenter/index}"></a>
        <div class="qyj-fiexd">
            <div class="f-l qyj_w" attr-id='lx'>交易类型 <span class="fa fa-sort-desc qyj_jt"></span></div>
            <div class="f-l qyj_w" attr-id='zk'>折扣率 <span class="fa fa-sort-desc qyj_jt"></span></div>
            <div class="f-l qyj_w" attr-id='jg'>权益金等级 <span class="fa fa-sort-desc qyj_jt"></span></div>
            <div class="f-l qyj_w" attr-id='px'>排序 <span class="fa fa-sort-desc qyj_jt"></span></div>
            <div style="clear: both;"></div>
        </div>
        <div class="qyj-fff p-10 f-14" style="display: none;">
            <div class="qjy-cc" id='lx' style='display: none;'>
                <div {if: empty(IFilter::act(IReq::get('sale_type')))} class="currt" {/if}>
                    <a class='external' href="{url:/site/publist?sale_type=0&account_type=".IFilter::act(IReq::get('account_type'))."&discount=".IFilter::act(IReq::get('discount'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">全部</a>
                </div>

                <div {if: IFilter::act(IReq::get('sale_type'))==1} class="currt" {/if}>
                    <a class='external' href="{url:/site/publist?sale_type=1&account_type=".IFilter::act(IReq::get('account_type'))."&discount=".IFilter::act(IReq::get('discount'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">出售</a>
                </div>
            </div>
            <div class="qjy-cc" id='zk' style='display: none;'>
                <div {if: empty(IFilter::act(IReq::get('discount')))} class="currt" {/if}><a class='external' href="{url:/site/publist?discount=0&sale_type=".IFilter::act(IReq::get('sale_type'))."&account_type=".IFilter::act(IReq::get('account_type'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">全部</a></div>
                <div {if: IFilter::act(IReq::get('discount'))=='1'} class="currt" {/if}><a class='external' href="{url:/site/publist?discount=1&sale_type=".IFilter::act(IReq::get('sale_type'))."&account_type=".IFilter::act(IReq::get('account_type'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}"><5折</a></div>
                <div {if: IFilter::act(IReq::get('discount'))=='2'} class="currt" {/if}><a class='external' href="{url:/site/publist?discount=2&sale_type=".IFilter::act(IReq::get('sale_type'))."&account_type=".IFilter::act(IReq::get('account_type'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">5-6折</a></div>
                <div {if: IFilter::act(IReq::get('discount'))=='3'} class="currt" {/if}><a class='external' href="{url:/site/publist?discount=3&sale_type=".IFilter::act(IReq::get('sale_type'))."&account_type=".IFilter::act(IReq::get('account_type'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">6-7折</a></div>
                <div {if: IFilter::act(IReq::get('discount'))=='4'} class="currt" {/if}><a class='external' href="{url:/site/publist?discount=4&sale_type=".IFilter::act(IReq::get('sale_type'))."&account_type=".IFilter::act(IReq::get('account_type'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">7-8折</a></div>
                <div {if: IFilter::act(IReq::get('discount'))=='5'} class="currt" {/if}><a class='external' href="{url:/site/publist?discount=5&sale_type=".IFilter::act(IReq::get('sale_type'))."&account_type=".IFilter::act(IReq::get('account_type'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">8-9折</a></div>
                <div {if: IFilter::act(IReq::get('discount'))=='6'} class="currt" {/if}><a class='external' href="{url:/site/publist?discount=6&sale_type=".IFilter::act(IReq::get('sale_type'))."&account_type=".IFilter::act(IReq::get('account_type'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">9-10折</a></div>
            </div>
            <div class="qjy-cc" id='jg' style='display: none;'>
                <div {if: empty(IFilter::act(IReq::get('account_type')))} class="currt" {/if}><a class='external' href="{url:/site/publist?account_type=0&sale_type=".IFilter::act(IReq::get('sale_type'))."&discount=".IFilter::act(IReq::get('discount'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">全部</a></div>
                <div {if: IFilter::act(IReq::get('account_type'))=='A'} class="currt" {/if}> <a class='external' href="{url:/site/publist?account_type=A&sale_type=".IFilter::act(IReq::get('sale_type'))."&discount=".IFilter::act(IReq::get('discount'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">钻石级</a></div>
                <div {if: IFilter::act(IReq::get('account_type'))=='B'} class="currt" {/if}> <a class='external' href="{url:/site/publist?account_type=B&sale_type=".IFilter::act(IReq::get('sale_type'))."&discount=".IFilter::act(IReq::get('discount'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}"> 铂金级</a></div>
                <div {if: IFilter::act(IReq::get('account_type'))=='C'} class="currt" {/if}> <a class='external' href="{url:/site/publist?account_type=C&sale_type=".IFilter::act(IReq::get('sale_type'))."&discount=".IFilter::act(IReq::get('discount'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">黄金级</a></div>
                <div {if: IFilter::act(IReq::get('account_type'))=='D'} class="currt" {/if}> <a class='external' href="{url:/site/publist?account_type=D&sale_type=".IFilter::act(IReq::get('sale_type'))."&discount=".IFilter::act(IReq::get('discount'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">白银级</a></div>
                <div {if: IFilter::act(IReq::get('account_type'))=='E'} class="currt" {/if}> <a class='external' href="{url:/site/publist?account_type=E&sale_type=".IFilter::act(IReq::get('sale_type'))."&discount=".IFilter::act(IReq::get('discount'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">青铜级</a></div>
                <div {if: IFilter::act(IReq::get('account_type'))=='F'} class="currt" {/if}> <a class='external' href="{url:/site/publist?account_type=F&sale_type=".IFilter::act(IReq::get('sale_type'))."&discount=".IFilter::act(IReq::get('discount'))."&order_ds=".IFilter::act(IReq::get('order_ds'))."}">尊享级</a></div>
            </div>
            <div class="qjy-cc" id='px' style='display: none;'>
                <div {if: IFilter::act(IReq::get('order_ds'))=='0'} class="currt" {/if}> <a class='external' href="{url:/site/publist?order_ds=0&account_type=".IFilter::act(IReq::get('account_type'))."&sale_type=".IFilter::act(IReq::get('sale_type'))."&discount=".IFilter::act(IReq::get('discount'))."}">上升</a></div>
                <div {if: IFilter::act(IReq::get('order_ds'))=='1'} class="currt" {/if}> <a class='external' href="{url:/site/publist?order_ds=1&account_type=".IFilter::act(IReq::get('account_type'))."&sale_type=".IFilter::act(IReq::get('sale_type'))."&discount=".IFilter::act(IReq::get('discount'))."}">下降</a></div>
            </div>
        </div>
    </header>
    <style>.qyj_style{position: absolute;width: 6rem;top: 5rem;text-align: left;}</style>
    <div class="content" style='top: 3.4rem!important;bottom: 4.5rem!important;'>
        <div class="qyj_list_banner"><img src="{skin:image/qyj_list_banner.jpg}" ></div>
        <div>
            <!-- 滚动购买信息 -->
            {foreach:items=$buy->find()}
            <li class="three-list-items">
                <div class="three-list-items1">用户：<span>{echo:substr($item['buy_username'],0,3)}****{echo:substr($item['buy_username'],-4)}</span>  {$item['discount']}折购买了{$item['num']}个{if: $item['account_type']=='A'}
                    钻石级
                {elseif: $item['account_type']=='B'}
                    铂金级
                {elseif: $item['account_type']=='C'}
                    黄金级
                {elseif: $item['account_type']=='D'}
                    白银级
                {elseif: $item['account_type']=='E'}
                    青铜级
                {elseif: $item['account_type']=='F'}
                    尊享
                {/if}权益金</div>
            </li>
            {/foreach}
        </div>
        <div class="mt-10">
            
			{foreach:items=$change->find()}
            <div class="qyj_buy_items">
                <div class="qyj_user_con">
                    <div class="qyj_user_img mr-10">
                        <div class="qyj-img-items {if: $item['account_type']=='A'}
                        qyj-a
                    {elseif: $item['account_type']=='B'}
                        qyj-b
                    {elseif: $item['account_type']=='C'}
                        qyj-c
                    {elseif: $item['account_type']=='D'}
                        qyj-d
                    {elseif: $item['account_type']=='E'}
                        qyj-e
                    {elseif: $item['account_type']=='F'}
                        qyj-f
                    {/if}"></div>
                        <!-- 折扣 -->
                        <!-- {$item['discount']} -->
                        <div class="qyj_style f-10 t-c" style="top: 5.1rem;">
                            <div></div>
                            <div class="c-gray">编号：{$item['nid']}</div>
                        </div>
                    </div>
                    <div class="qyj_user_word">
                        <div class="f-12 <?php if($item['status']==0){?>c-252525<?php }else{?>c-6f6f6f<?php }?>">{$item['title']}</div>
                        <div class="t-c mt-15 c-6f6f6f">
                            <div class="f-10 f-l mr-5">
                                <div>{$item['num']}</div>
                                <div>转让数量</div>
                            </div>
                            <div class="f-10 f-l">
                                <div>{$item['now_num']}</div>
                                <div>剩余数量</div>
                            </div>
                            <div class="f-10 f-l">
                                <div class=""><a class="qyj_style_btn external" {if: $item['status']==0}href='{url:/site/pubdetail?nid=$item["nid"]}'{/if}>立即购买</a></div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div class="f-10 p-5-0 c-6f6f6f">
                    <div class="f-l"></div>
                    <div class="f-r">{echo:date("Y年m月d日",strtotime($item['change_time']))}</div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            {/foreach}
            {$change->getPageBar()}
        </div>
    

       
    </div>

    <nav class="bar bar-tab qyj_bar">
        <div class="qyj_help"><span class="fa fa-info-circle mr-5"></span>帮助中心</div>
        <a class="tab-item external active" href="#">
            <span class="tab-label">转让规则</span>
        </a>
        <a class="tab-item external" href="#">
            <span class="tab-label">转让流程</span>
        </a>
        <a class="tab-item external" href="#">
            <span class="tab-label">购买规则</span>
        </a>
        <a class="tab-item external" href="#">
            <span class="tab-label">购买流程</span>
        </a>
    </nav>
    <div class="qyj-dd1" style="background-color: #fff;"></div></div>
    <nav class="bar bar-tab qyj_dd">
        <a class="tab-item external active qyj-ccc1" href="{url:/account/publish_page}">
            <span class="fa fa-telegram"></span>
            <span class="tab-label">发布转让 </span>
        </a>
        <a class="tab-item external" href="{url:/account/sale}">
            <span class="fa fa-user-circle-o"></span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
    
</div>

<script>

    $('.qyj_w').click(function(){
        var attid = $(this).attr('attr-id');
        // $('.qyj_w').find('span').removeClass('fa-sort-asc').removeClass('qyj_jt1').addClass('fa-sort-desc').addClass('qyj_jt')
        if($(this).find('span').hasClass('fa-sort-desc')){
            $('.qyj_w').find('span').removeClass('fa-sort-asc').removeClass('qyj_jt1').addClass('fa-sort-desc').addClass('qyj_jt')
            $(this).find('span').removeClass('fa-sort-desc').removeClass('qyj_jt').addClass('fa-sort-asc').addClass('qyj_jt1')
            $('.qyj-fff').css('display','block')
            $('.qjy-cc').css('display','none')
            $('#'+attid).css('display','block')
        }else{
            $(this).find('span').removeClass('fa-sort-asc').removeClass('qyj_jt1').addClass('fa-sort-desc').addClass('qyj_jt')
            $('.qyj-fff').css('display','none')
        }
        
    })
</script>