
<header class="uc_head">
	<h3 class=""><a class="bold" href="{url:/account/buy_detail&buy_id=$buy_detail['id']}">我购买的权益金详情</a></h3>
	<span class="money">
</header>
<div class="qyj_detail_head">
	<div class="qyj_detail_list">
		<div><span class="active">1</span>   {$buy_detail['buy_time']} 创建购买</div>
		<div><span class="active">1</span>   {$buy_detail['do_time']} 	
		<?php if ($buy_detail['status'] == 0) { ?>
			待支付
		<?php } elseif ($buy_detail['status'] == 2) { ?>
			取消购买
		<?php } elseif ($buy_detail['status'] == 1) { ?>
			支付成功
		<?php } ?></div>
	
	
	</div>
	

	<div class="order_info">订单号为： {$buy_detail['nid']}   下单日期：{$buy_detail['buy_time']}</div>

	<?php if ($buy_detail['status'] == 0) { ?><div><a class="color1" href="{url:/account/paychange&buy_id=$buy_detail['id']}">立即支付</a><a href="{url:/account/cancelpay&buy_id=$buy_detail['id']}">取消</a></div><?php } ?>
</div>

<div class="qyj_detail_title">转让详情</div>
<section class="qyj_detail_table">
	<table>
		<tr>
			<td class="bgfafafa">转让标题</td><td class="bold">{$buy_detail['title']}</td>
		</tr>
		<tr>
			<td class="bgfafafa">转让人</td><td>{$buy_detail['account_type']}（{$buy_detail['percent']}%抵扣购物金额）</td>
		</tr>
		<tr>
			<td class="bgfafafa">转让折扣</td><td>{$buy_detail['discount']}折</td>
		</tr>
		
		<tr>
			<td class="bgfafafa">购买权益金数量</td><td>{$buy_detail['num']}个</td>
		</tr>
		<tr>
			<td class="bgfafafa">订单金额</td><td>{$buy_detail['money']}元</td>
		</tr>
		
	</table>


</section>