<section class="breadcrumb">
	<span>您当前的位置：</span> <a href="{url:}">首页</a> » 
	<a href='{url:/site/publist}'>权益金购买</a>
</section>

<section class="cart_3">
	<header class="cart_header">成功提交订单</header>
	<div class="cart_3_con">
		{if:$this->user['user_id']}
		<div class="cart_3_status">
			<a href="{url:/account/buy_detail&buy_id=$buy_id}">查看订单</a>
			<strong>订单已提交</strong>
		</div>
		{/if}
		<h3>订单信息</h3>
		<table>
			<col width="140">
			<col>
			<tr><th>权益金编号：</th><td>{$buy_detail['nid']}</td></tr>
			<tr><th>购买权益金数量：</th><td>{$buy_detail['num']}元/权益金</td></tr>
			<tr><th>权益金等级：</th><td>{$buy_detail['account_type']}级（*可100%抵扣购物金额。）</td></tr>
			<tr><th>订单金额：</th><td>{$buy_detail['money']}元</td></tr>
			<tr><th>支付方式：</th><td>余额支付</td></tr>
		</table>
		<table class="none" id='order_detail'>
			<col width="100">
			<col>
			<tr><th>联系人名：</th><td></td></tr>
			<tr><th>联系方式：</th><td></td></tr>
			<tr><th>发票抬头：</th><td></td></tr>

		</table>

		<!-- <form class="" action='{url:/account/paychange}' method='post'> -->
			<input type="hidden" name='timeKey' value="{echo:time()}"/>
			<input type="hidden"  name="buy_id" value="{$buy_id}" />
			<input type="submit" class="gobank_pay_btns" value="立即支付" />
		<!-- </form> -->
	
	</div>
</section>
<!-- 弹框 -->
<div class="model" style="display:none">
	<div class="model-con">
		<div class="model-close close-btn">×</div>
		<div class="model-title"></div>
		<div class="model-cons"></div>
		<div>
			<a class="model-btn color1 close-btn qr-link1" href="javascript:void(0)">重新支付</a>
			<a class="model-btn color2 qr-link" href="">确认</a>
		</div>
	</div>
</div>

<script>
$(function(){
	//查看订单详情按钮
	$('#order_a').click(function(){
		$(this).toggleClass('fold');
		$(this).toggleClass('unfold');
		$('#order_detail').toggle();
	});
	$('.gobank_pay_btns').click(function(){
		$.ajax({
			url:"/account/paychange",
			type:"post",
			dataType:"json",
			data:{
				timeKey: $("input[name='timeKey']").val(),
				buy_id: $("input[name='buy_id']").val(),
			},
			success:function(res){
				if(res.code == 1){
					$('.model-title').text(res.msg)
					$('.model-cons').text(res.info)
					$('.qr-link').attr('href',res.data)
					$('.qr-link1').css('display','none')
					$('.model-close').css('display','none')
					$('.model').fadeIn()
				}else{
					$('.model-title').text(res.msg)
					$('.model-cons').text(res.info)
					$('.qr-link').css('display','none')
					$('.model').fadeIn()
				}
			},
			error:function(res){

			}
		})
	})
	$('.close-btn').click(function(){
		$('.model').fadeOut()
	})
});
function dopay(){
	confirm('支付是否成功',"window.location.href='{url:/ucenter/order}';");
}
</script>