<header class="uc_head">
	<h3 class="current"><a href="{url:/account/sale}">我发布的权益金转让</a></h3>
</header>

<section class="uc_table">
	<table>
		<col width="520px" />
		<col width="200px" />
		<col width="50px" />
		<col width="50px" />
		<col width="50px" />
		<col width="100px" />
		<col width="80px" />
		<col width="250px" />
		<thead>
			<tr>
				<th>标题</th>
				<th>发布日期</th>
				<th>数量</th>
				<th>折扣</th>
				<th>已卖出</th>
				<th>实收金额</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{foreach:items = $change->find()}
			<tr class="<?php if($item['status']==0){?>c00<?php }else{?>c8a<?php }?>">
				<td style="text-align:center;">{$item['title']}</td>
				<td style="text-align:center;">{$item['change_time']}</td>
				<td>{$item['num']}</td>
				<td>{$item['discount']}</td>
				<td>{$item['sale_num']}</td>
				<td>{echo:$item['get_money']-$item['fee']}</td>
				<td><?php if($item['status']==0){?>
					上架中
					<?php }elseif($item['status']==2){?>
					已取消
					<?php }elseif($item['status']==1){?>
					已售罄
					<?php }?></td>
				<td><?php if($item['status']==0){?><a nid="{$item['nid']}" yimai='{$item['sale_num']}' sy='{echo:$item['num']-$item['sale_num']}' class="qyj_style_btn" href="javascript:void(0)">取消转让</a><?php }?> <a class="ff0000"
						href="{url:/account/sale_detail?nid=$item['nid']}">查看详情</a></td>
			</tr>
			{/foreach}
		</tbody>
	</table>

	{$change->getPageBar()}

	{if:!$items}
	<div class="no_tip">
		暂无记录
	</div>
	{/if}
</section>

<!-- 弹框 -->
<div class="model" style="display:none">
	<div class="model-con">
		<div class="model-close close-btn">×</div>
		<div class="model-title">取消转让</div>
		<div class="model-cons">当前已成功卖出<span class="ym"></span>个权益金，剩余库存 <span class="sy"></span> 个<br>
			取消成功后，剩余库存权益金返回到账户。</div>
		<div>
			<a class="model-btn color1 close-btn" href="javascript:void(0)">再想想</a>
			<a class="model-btn color2 link_url" href="{url:/account/cancel?nid=xxx}">确认取消</a>
		</div>
	</div>
</div>

<script>
	$('.qyj_style_btn').click(function(){
		var nid = '',url = '',yimai = '',sy = '',arr = [];
		nid = $(this).attr('nid');
		yimai = $(this).attr('yimai');
		sy = $(this).attr('sy');
		$('.ym').text(yimai);
		$('.sy').text(sy);
		url = $('.link_url').attr('href');
		arr = url.split('=')
		arr.splice([arr.length - 1],1,nid)
		$('.link_url').attr('href',arr.join('='))
		$('.model').fadeIn()
	})
	$('.close-btn').click(function(){
		$('.model').fadeOut()
	})
</script>