
<div class="page" id="page-order">
    <header class="bar bar-nav pl-0 bg-red">
        <a class="fa fa-arrow-left pull-left c-white external" href="{url:/ucenter/index}"></a>
        <h1 class="title c-white">购买的权益金列表</h1>
        <a class="fa fa-user pull-right c-white external" href="{url:/ucenter/index}"></a>
    </header>

    <div class="content bottom-0 bg-white p-101">
        <div>
            <div class="qyj_detail_title">我购买的权益金转让详情</div>
            <div class="qyj_detail_head p-101 mt-10 mb-10">
                <div class="qyj_detail_list">
                    <div><span class="active">1</span>   {$buy_detail['buy_time']} 创建购买</div>
                    <div><span class="active">2</span>   {$buy_detail['do_time']} 	
                    <?php if ($buy_detail['status'] == 0) { ?>
                        待支付
                    <?php } elseif ($buy_detail['status'] == 2) { ?>
                        取消购买
                    <?php } elseif ($buy_detail['status'] == 1) { ?>
                        支付成功
                    <?php } ?></div>
                
                
                </div>
                
            
                <div class="order_info">订单号为： {$buy_detail['nid']}</div>
                <div class="order_info">下单日期：{$buy_detail['buy_time']}</div>
            
                <?php if ($buy_detail['status'] == 0) { ?><div class='f-r mt-10'><a class="color1 qyj_style_btn2" buy_id="{$buy_detail['id']}" href="javascript:void(0)">立即支付</a>
                    <a class="quxiao" buy_id="{$buy_detail['id']}" href="javascript:void(0)">取消</a></div><?php } ?>
                   
                        <div style="clear:both"></div>
            </div>
            
            <div class="qyj_detail_title">转让详情</div>
            <section class="qyj_detail_table">
                <table>
                    <tr>
                        <td class="bgfafafa">转让标题</td><td class="bold"><a href="{url:/site/pubdetail?nid=$buy_detail['nid']}">{$buy_detail['title']}</a></td>
                    </tr>
                    <tr>
                        <td class="bgfafafa">转让人</td><td>{echo:substr($buy_detail['change_username'],0,3)}****{echo:substr($buy_detail['change_username'],-4)}</td>
                    </tr>
                    <tr>
                        <td class="bgfafafa">权益金等级</td><td> {if: $buy_detail['account_type']=='A'}
                            钻石级
                        {elseif: $buy_detail['account_type']=='B'}
                            铂金级
                        {elseif: $buy_detail['account_type']=='C'}
                            黄金级
                        {elseif: $buy_detail['account_type']=='D'}
                            白银级
                        {elseif: $buy_detail['account_type']=='E'}
                            青铜级
                        {elseif: $buy_detail['account_type']=='F'}
                            尊享级
                        {/if}（{$buy_detail['percent']}%抵扣购物金额）</td>
                    </tr>
                    <tr>
                        <td class="bgfafafa">转让折扣</td><td>{$buy_detail['discount']}折</td>
                    </tr>
                    
                    <tr>
                        <td class="bgfafafa">购买权益金数量</td><td>{$buy_detail['num']}个</td>
                    </tr>
                    <tr>
                        <td class="bgfafafa">交易手续费</td><td>{$buy_detail['fee']}元</td>
                    </tr>
                    <tr>
                        <td class="bgfafafa">订单金额</td><td>{echo:$buy_detail['money']+$buy_detail['fee']}元</td>
                    </tr>
                    <tr>
                        <td class="bgfafafa">状态</td><td> <?php if ($buy_detail['status'] == 0) { ?>
                            待支付
                        <?php } elseif ($buy_detail['status'] == 2) { ?>
                            取消购买
                        <?php } elseif ($buy_detail['status'] == 1) { ?>
                            支付成功
                        <?php } ?></td>
                    </tr>
                    
                </table>
            
            
            </section>
            <!-- 弹框 -->
            <div class="model" style="display:none">
                <div class="model-con">
                    <div class="model-close close-btn">×</div>
                    <div class="model-title"></div>
                    <div class="model-cons"></div>
                    <div>
                        <a class="model-btn color1 close-btn qr-link1" href="javascript:void(0)">重新支付</a>
                        <a class="model-btn color2 qr-link" href="">确认</a>
                    </div>
                </div>
            </div>
        </div>

        
     
    </div>
</div>

<script>
	$('.qyj_style_btn2').click(function(){
		$.ajax({
			url:"/account/paychange",
			type:"post",
			dataType:"json",
			data:{
				buy_id:$(this).attr('buy_id')
			},
			success:function(res){
				if(res.code == 1){
					$('.model-title').text(res.msg)
					$('.model-cons').text(res.info)
					$('.qr-link').attr('href',res.data)
					$('.qr-link1').css('display','none')
					$('.model-close').css('display','none')
					$('.model').fadeIn()
				}else{
					$('.model-title').text(res.msg)
					$('.model-cons').text(res.info)
					$('.qr-link').css('display','none')
					$('.model').fadeIn()
				}
			},
			error:function(res){

			}
		})
	})
	$('.quxiao').click(function(){
		$.ajax({
			url:"/account/cancelpay",
			type:"post",
			dataType:"json",
			data:{
				buy_id:$(this).attr('buy_id')
			},
			success:function(res){
				if(res.code == 1){
					$('.model-title').text(res.msg)
					$('.model-cons').text(res.info)
					$('.qr-link').attr('href',res.data)
					$('.qr-link1').css('display','none')
					$('.model-close').css('display','none')
					$('.model').fadeIn()
				}else{
					$('.model-title').text(res.msg)
					$('.model-cons').text(res.info)
					$('.qr-link').css('display','none')
					$('.model').fadeIn()
				}
			},
			error:function(res){

			}
		})
	})
	$('.close-btn').click(function(){
		$('.model').fadeOut()
	})
</script>
