<div class="page" id="page-cart2">
    <header class="bar bar-nav pl-0 bg-red">
        <a class="fa fa-arrow-left pull-left c-white external" href="{url:/ucenter/index}"></a>
        <h1 class="title c-white">订单信息</h1>
        <a class="fa fa-user pull-right c-white external" href="{url:/ucenter/index}"></a>
        <a class="fa fa-home pull-right c-white external" href="{url:/site/index}"></a>
    </header>
    <div class="content bg-white bottom-0">
		<div class="p-5 f-14 border-b">
			订单详情
		</div>
        <section class="cart_3 p-5 f-12">
            <table style="table-layout: fixed;">
                <colgroup>
                    <col width="33%" />
                    <col />
                </colgroup>
                <tr>
                    <td>订单标题:</td>
                    <td style="word-break: break-word;">123</td>
				</tr>
				<tr>
                    <td>订单编号:</td>
                    <td style="word-break: break-word;">123</td>
                </tr>
                <tr>
                    <td>购买权益金数量:</td>
                    <td>123</td>
                </tr>

                <tr>
                    <td>权益金类型:</td>
                    <td>123</td>
                </tr>
                
                <tr>
                    <td>订单金额:</td>
                    <td>123</td>
				</tr>
				<tr>
                    <td>支付方式:</td>
                    <td>123</td>
                </tr>
              
            </table>
        </section>
    </div>
</div>
<nav class="bar bar-tab">
	<div class="row no-gutter">
		<div class="col-100 f-14">
			<form action='' method='post'>
				<input type="submit" value="立即支付" class="button button-big d-block button-fill button-danger" />
			</form>
		</div>
	</div>
</nav>