<div class="page" id="page-cart2">
    <header class="bar bar-nav pl-0 bg-red">
        <a class="fa fa-arrow-left pull-left c-white external" href="{url:/ucenter/index}"></a>
        <h1 class="title c-white">订单信息</h1>
        <a class="fa fa-user pull-right c-white external" href="{url:/ucenter/index}"></a>
        <a class="fa fa-home pull-right c-white external" href="{url:/site/index}"></a>
    </header>
    <div class="content bg-white bottom-0">
		<div class="p-5 f-14 border-b">
			订单详情
		</div>
        <section class="cart_3 p-5 f-12">
            <table style="table-layout: fixed;">
                <colgroup>
                    <col width="33%" />
                    <col />
                </colgroup>
				<tr>
                    <td>订单编号:</td>
                    <td style="word-break: break-word;">{$buy_detail['nid']}</td>
                </tr>
                <tr>
                    <td>购买权益金数量:</td>
                    <td>{$buy_detail['num']}/权益金</td>
                </tr>
                <tr>
                    <td>权益金等级:</td>
                    <td>{if: $buy_detail['account_type']=='A'}
                        钻石级
                    {elseif: $buy_detail['account_type']=='B'}
                        铂金级
                    {elseif: $buy_detail['account_type']=='C'}
                        黄金级
                    {elseif: $buy_detail['account_type']=='D'}
                        白银级
                    {elseif: $buy_detail['account_type']=='E'}
                        青铜级
                    {elseif: $buy_detail['account_type']=='F'}
                        尊享级
                    {/if}（*可100%抵扣购物金额。）</td>
                </tr>
                
                <tr>
                    <td>订单金额:</td>
                    <td>{$buy_detail['money']}元</td>
				</tr>
				<tr>
                    <td>支付方式:</td>
                    <td>余额支付</td>
                </tr>
              
            </table>
        </section>
    </div>
</div>
<nav class="bar bar-tab">
	<div class="row no-gutter">
		<div class="col-100 f-14">
            <input type="hidden" name='timeKey' value="{echo:time()}"/>
			<input type="hidden"  name="buy_id" value="{$buy_id}" />
            <input type="submit" value="立即支付" class="button button-big d-block button-fill button-danger gobank_pay_btns" />
		</div>
	</div>
</nav>
<!-- 弹框 -->
<div class="model" style="display:none">
    <div class="model-con">
        <div class="model-close close-btn">×</div>
        <div class="model-title"></div>
        <div class="model-cons"></div>
        <div>
            <a class="model-btn color1 close-btn qr-link1" href="javascript:void(0)">重新支付</a>
            <a class="model-btn color2 qr-link" href="">确认</a>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('.gobank_pay_btns').click(function(){
            $.ajax({
                url:"/account/paychange",
                type:"post",
                dataType:"json",
                data:{
                    timeKey: $("input[name='timeKey']").val(),
                    buy_id: $("input[name='buy_id']").val(),
                },
                success:function(res){
                    if(res.code == 1){
                        $('.model-title').text(res.msg)
                        $('.model-cons').text(res.info)
                        $('.qr-link').attr('href',res.data)
                        $('.qr-link1').css('display','none')
                        $('.model-close').css('display','none')
                        $('.model').fadeIn()
                    }else{
                        $('.model-title').text(res.msg)
                        $('.model-cons').text(res.info)
                        $('.qr-link').css('display','none')
                        $('.model').fadeIn()
                    }
                },
                error:function(res){
    
                }
            })
        })
        $('.close-btn').click(function(){
            $('.model').fadeOut()
        })
    });
</script>