<form action='{url:/account/buychange}' class="form" method='post' name='order_form' onsubmit='return orderFormInstance.isSubmit()'>
    <input type="hidden" name='timeKey' value="{echo:time()}"/>
    <input type="hidden" name='nid' value="{$change['nid']}"/>
    <input type="hidden" name='num' value="{$num}"/>
    <div class="page" id="page-cart2">
        <header class="bar bar-nav pl-0 bg-red">
            <a class="fa fa-arrow-left pull-left c-white" href="{url:/}"></a>
            <h1 class="title c-white">核对订单信息</h1>
            <a class="fa fa-home pull-right c-white external" href="{url:/site/index}"></a>
        </header>
        <div class="content bg-white p-101">
            <!--配送和支付方式 开始-->
            <div class="cart_sect cart_2_delivery">
                <div class="qyj_detail_title f-14" style="font-weight: normal;">购买的商品</div>
                <section class="qyj_detail_table">
                    <table>
                        <tr>
                            <td class="bgfafafa">商品名称</td><td class="bold">{$change['title']}</td>
                        </tr>
                        <tr>
                            <td class="bgfafafa">折扣</td><td class="bold">{$change['discount']}折</td>
                        </tr>
                        <tr>
                            <td class="bgfafafa">权益金等级</td><td>{if: $change['account_type']=='A'}
                                钻石级
                            {elseif: $change['account_type']=='B'}
                                铂金级
                            {elseif: $change['account_type']=='C'}
                                黄金级
                            {elseif: $change['account_type']=='D'}
                                白银级
                            {elseif: $change['account_type']=='E'}
                                青铜级
                            {elseif: $change['account_type']=='F'}
                                尊享级
                            {/if}（可{$percent}%抵扣购物金额。）</td>
                        </tr>
                        <tr>
                            <td class="bgfafafa">权益金单价</td><td>{echo:bcdiv($change['num']*$change['discount']/10,$change['num'],2)}/权益金</td>
                        </tr>
                        
                        <tr>
                            <td class="bgfafafa">购买数量</td><td>{$num}个</td>
                        </tr>
                        <tr>
                            <td class="bgfafafa">交易手续费</td><td>{$fee}%({echo:$num*$change['discount']/10*$fee/100})</td>
                        </tr>
                        <tr>
                            <td class="bgfafafa">金额</td><td>{echo:$num*$change['discount']/10}元</td>
                        </tr>
                        <tr>
                            <td class="bgfafafa">应付金额</td><td>{echo:$num*$change['discount']/10+$num*$change['discount']/10*$fee/100}元</td>
                        </tr>
                        
                    </table>
                
                
                </section>
                <div id="paymentBox">
                    <div class="p-5 f-14 border-b">
                        支付方式
                    </div>
                    <div class="p-10 f-12 mt-5 mb-5">
                    {foreach:items = Api::run('getPaymentList')}
                    <label class="mr-5">
                        <input class="d-none" name="payment" type="radio" value="{$item['id']}" checked title="{$item['name']}" />
                        <span class="bg-gray p-5 bd-radius info">{$item['name']} {$item['note']} </span>
                    </label>
                    {/foreach}
                    </div>
                </div>
                <div id="paymentBox" class="border-t">
                    <div class="p-5 f-14">
                        结算信息
                    </div>
                    <div class="p-10 f-12 mb-5 c-gray">
                        <div class="mt-5"><span class="qyj-w20">订单单价：</span> ￥{echo:bcdiv($change['num']*$change['discount']/10,$change['num'],2)}</div>
                        <div class="mt-5"><span class="qyj-w20">订单数量：</span>{$num}个</div>
                        <div class="mt-5"><span class="qyj-w20">交易手续费：</span>￥{echo:$num*$change['discount']/10*$fee/100}</div>
                        <div class="mt-5"><span class="qyj-w20">合计：</span>{$num}*{echo:bcdiv($change['num']*$change['discount']/10,$change['num'],2)}元/个 + {echo:$num*$change['discount']/10*$fee/100}手续费= ￥{echo:$num*$change['discount']/10+$num*$change['discount']/10*$fee/100}元</div>
                    </div>
                </div>
            
            </div>
            <!--配送和支付方式 结束-->
            <div class="qyj_cart_tips f-10">购买权益金下单并支付成功后，无法撤回，下单未付款10分钟自动取消订单。</div>
        </div>
    </div>
    <nav class="bar bar-tab" style="background-color: #fff;">
        <div class="row no-gutter">
            <div class="final-sum col-60 f-14 t-l p-5 mt-5">
                <span class="ml-5">实付金额:</span>
                <em id='final_sum' class="c-red">{echo:$num*$change['discount']/10+$num*$change['discount']/10*$fee/100}</em>元
            </div>
            <div class="col-40">
                <input id="submitForm" type="submit" class="button button-big d-block button-fill button-danger" value="提交订单" />
            </div>
        </div>
    </nav>
    </form>
    {js:artTemplate}
    {js:my97date}