<div class="page" id="page-restore_password">
    <header class="bar bar-nav pl-0 bg-red">
        <a class="fa fa-arrow-left pull-left c-white" href="{url:/ucenter/index}"></a>
        <h1 class="title c-white">填写转让信息</h1>
        <a class="fa fa-user pull-right c-white external" href="{url:/ucenter/index}"></a>
    </header>
    <div class="content bg-white bottom-0">
        <div class="open-style"><img src="{skin:image/qyj-fb3.jpg}" ></div>
        <form action="" method="POST" role="form">
            <style>
                .list-block .item-title.label {width: 36%;}
                .open-style{width: 100%;}
                .open-style img{width: 100%;}
            </style>
            <div class="list-block p-10 f-14 m-0">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label"><span class="c-red">*</span> 权益金类型</div>
                                <div class="item-input">
                                    <select name="" id="">
                                        <option value="">A类权益金（100%抵扣购物金额）</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label"><span class="c-red">*</span> 转让权益金数量</div>
                                <div class="item-input">
                                    <input type='text' placeholder="输入转让的权益金数量">
                                </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label"></div>
                                <div class="item-input">
                                    <input type='text' placeholder="可转让钻石级权益金数量：55555个">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label"><span class="c-red">*</span> 转让折扣</div>
                                <div class="item-input">
                                    <input type='text' placeholder="输入你的转让折扣，如：5.5">
                                </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label"></div>
                                <div class="item-input f-12 c-red">
                                    请输入折扣数字，小数点后最多输入一位
                                </div>
                            </div>
                        </div>
                        
                    </li>
                    <li class="f-12" style='color:#919191'>
                        注：转让成功后，将扣除相应数量的权益金并托管到系统，取消后会自动返回未售出的权益金到账户。
                    </li>

                    
                </ul>
            </div>
            <p class="p-10"><input type="submit" class="button button-fill button-danger size-l f-14" value="保存并发布"></p>
        </form>
    </div>
</div>