<div class="page" id="page-restore_password">
    <header class="bar bar-nav pl-0 bg-red">
        <a class="fa fa-arrow-left pull-left c-white" href="{url:/ucenter/index}"></a>
        <h1 class="title c-white">填写转让信息</h1>
        <a class="fa fa-user pull-right c-white external" href="{url:/ucenter/index}"></a>
    </header>
    <div class="content bg-white bottom-0">
        <div class="open-style"><img src="{skin:image/qjy-fb1.jpg}" ></div>
        <form action="{url:/account/publish}" method="POST" role="form">
            <input type="hidden" value="{echo:time()}" name="timeKey" />
            <style>
                .list-block .item-title.label {width: 36%;}
                .open-style{width: 100%;}
                .open-style img{width: 100%;}
            </style>
            <div class="list-block p-10 f-14 m-0">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label"><span class="c-red">*</span> 权益金类型</div>
                                <div class="item-input">
                                    <select name="account_id" id="account_id">
                                        {foreach:items=$account_data}
                                        <option value="{$item['id']}" num="{echo:$item['balance']-$item['buy_total']}">{$item['partner_name']}{$item['account_type']}类权益金（{$item['percent']}%抵扣购物金额）</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label"><span class="c-red">*</span> 转让权益金数量</div>
                                <div class="item-input">
                                    <input type='text' name="num" placeholder="输入转让的权益金数量">
                                </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label"></div>
                                <div class="item-input">
                                    我的可用权益金：<span style="color: #a71b1b;"><span class="qyj_money" >55555</span>个</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label"><span class="c-red">*</span> 转让折扣</div>
                                <div class="item-input">
                                    <input type='text' name="discount" id='input-cc' placeholder="输入你的转让折扣，如：5.5">
                                </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label"></div>
                                <div class="item-input f-12 c-red cnm11">
                                    请输入折扣数字，小数点后最多输入一位
                                </div>
                            </div>
                        </div>
                        
                    </li>
                    <li class="f-12" style='color:#919191'>
                        注：转让成功后，将扣除相应数量的权益金并托管到系统，取消后会自动返回未售出的权益金到账户。
                    </li>

                    
                </ul>
            </div>
            <p class="p-10"><input type="submit" class="button button-fill button-danger size-l f-14" value="保存并发布"></p>
        </form>
    </div>
</div>

<script>
	$('.qyj_money').text($('#account_id').find("option:selected").attr('num'))
	$('#account_id').change(function(){
		$('.qyj_money').text($('#account_id').find("option:selected").attr('num'))
	})

    $('#input-cc').keyup(function(){
        var cccc = $(this).val()
        if(cccc < 1 ){
            $(this).val('')
            $('.cnm11').text('请输入1到10折');
            return false;
        }
        if( $(this).val() == '10.'){
            $(this).val('')
            $('.cnm11').text('请输入1到10折');
            return false;
        }
        if(cccc > 10){
            $(this).val('')
            $('.cnm11').text('请输入1到10折');
            return false;
        }else if(cccc.length > 3){
            $(this).val('')
            $('.cnm11').text('只能输入小数点后1位');
            return false;
        }else{
            $('.cnm11').text('请输入折扣数字，小数点后最多输入一位');
        }
    })
</script>