<div class="page" id="page-order">
    <header class="bar bar-nav pl-0 bg-red">
        <a class="fa fa-arrow-left pull-left c-white external" href="{url:/ucenter/index}"></a>
        <h1 class="title c-white">我的权益金转让</h1>
        <a class="fa fa-user pull-right c-white external" href="{url:/ucenter/index}"></a>
    </header>

    <div class="content bottom-0">

        <div class="mt-10">
            
			{foreach:items = $change->find()}
            <div class="qyj_buy_items">
                <a href="{url:/account/sale_detail?nid=$item['nid']}">
                    <div class="qyj_user_con">
                        <div class="qyj_user_img mr-10">
                            <img src="{skin:image/user_ico.jpg}" >
                            <div class="qyj_style f-10 t-c">
                                <div><span class="<?php if($item['status']==0){?>qyj_tips1<?php }else{?>qyj_tips2<?php }?>"><?php if($item['status']==0){?>
                                    上架中
                                    <?php }elseif($item['status']==2){?>
                                    已取消
                                    <?php }elseif($item['status']==1){?>
                                    已售罄
                                    <?php }?></span></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="qyj_user_word">
                            <div class="f-12 <?php if($item['status']==0){?>c-252525<?php }else{?>c-6f6f6f<?php }?>">{$item['title']} <span class="color1">{if: $item['account_type']=='A'}
                                钻石级
                            {elseif: $item['account_type']=='B'}
                                铂金级
                            {elseif: $item['account_type']=='C'}
                                黄金级
                            {elseif: $item['account_type']=='D'}
                                白银级
                            {elseif: $item['account_type']=='E'}
                                青铜级
                            {elseif: $item['account_type']=='F'}
                                尊享级
                            {/if}</span></div>
                            <div class="t-c mt-15 c-6f6f6f">
                                <div class="f-10 f-l mr-10">
                                    <div>{$item['sale_num']}个</div>
                                    <div>已卖出</div>
                                </div>
                                <div class="f-10 f-l">
                                    <div>￥{$item['get_money']}</div>
                                    <div>实收金额</div>
                                </div>
                                <div class="f-10 f-l">
                                    <div class=""><a nid="{$item['nid']}" yimai='{$item['sale_num']}' sy='{echo:$item['num']-$item['sale_num']}' class="qyj_style_btn" href="javascript:void(0)">取消发布</a></div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="f-10 p-10-0 c-6f6f6f">
                        <div class="f-l"></div>
                        <div class="f-r">{$item['change_time']}</div>
                        <div style="clear: both;"></div>
                    </div>
                </a>
            </div>
			{/foreach}
            
        </div>
    

       
    </div>
</div>

<!-- 弹框 -->
<div class="model" style="display:none">
	<div class="model-con">
		<div class="model-close close-btn">×</div>
		<div class="model-title">取消转让</div>
		<div class="model-cons">当前已成功卖出<span class="ym"></span>个权益金，剩余库存 <span class="sy"></span> 个取消成功后，剩余库存权益金返回到账户。</div>
		<div>
			<a class="model-btn color1 close-btn" href="javascript:void(0)">再想想</a>
			<a class="model-btn color2 link_url" href="{url:/account/cancel?nid=xxx}">确认取消</a>
		</div>
	</div>
</div>

<script>
	$('.qyj_style_btn').click(function(){
		var nid = '',url = '',yimai = '',sy = '',arr = [];
		nid = $(this).attr('nid');
		yimai = $(this).attr('yimai');
		sy = $(this).attr('sy');
		$('.ym').text(yimai);
		$('.sy').text(sy);
		url = $('.link_url').attr('href');
		arr = url.split('=')
		arr.splice([arr.length - 1],1,nid)
		$('.link_url').attr('href',arr.join('='))
		$('.model').fadeIn()
	})
	$('.close-btn').click(function(){
		$('.model').fadeOut()
	})
</script>